<!DOCTYPE html>
<html>
<head>
  <title>Feature Data</title>
</head>
<body>
  <h1>Feature Data</h1>

  <form action="/predict" method="POST">
    <label for="tempo">Tempo:</label>
    <input type="number" step="any" id="tempo" name="tempo"><br><br>

    <label for="beats">Beats:</label>
    <input type="number" step="any" id="beats" name="beats"><br><br>

    <label for="chroma_stft">Chroma STFT:</label>
    <input type="number" step="any" id="chroma_stft" name="chroma_stft"><br><br>

    <label for="rmse">RMSE:</label>
    <input type="number" step="any" id="rmse" name="rmse"><br><br>

    <label for="spectral_centroid">Spectral Centroid:</label>
    <input type="number" step="any" id="spectral_centroid" name="spectral_centroid"><br><br>

    <label for="spectral_bandwidth">Spectral Bandwidth:</label>
    <input type="number" step="any" id="spectral_bandwidth" name="spectral_bandwidth"><br><br>

    <label for="rolloff">Rolloff:</label>
    <input type="number" id="rolloff" name="rolloff"><br><br>

    <label for="zero_crossing_rate">Zero Crossing Rate:</label>
    <input type="number" step="any" id="zero_crossing_rate" name="zero_crossing_rate"><br><br>

    <label for="mfcc1">MFCC 1:</label>
    <input type="number" step="any" id="mfcc1" name="mfcc1"><br><br>

    <label for="mfcc2">MFCC 2:</label>
    <input type="number" id="mfcc2" name="mfcc2"><br><br>

    <label for="mfcc3">MFCC 3:</label>
    <input type="number" step="any" id="mfcc3" name="mfcc3"><br><br>

    <label for="mfcc4">MFCC 4:</label>
    <input type="number" step="any" id="mfcc4" name="mfcc4"><br><br>

    <label for="mfcc5">MFCC 5:</label>
    <input type="number" step="any" id="mfcc5" name="mfcc5"><br><br>

    <label for="mfcc6">MFCC 6:</label>
    <input type="number" step="any" id="mfcc6" name="mfcc6"><br><br>

    <label for="mfcc7">MFCC 7:</label>
    <input type="number" step="any" id="mfcc7" name="mfcc7"><br><br>

    <label for="mfcc8">MFCC 8:</label>
    <input type="number" id="mfcc8" name="mfcc8"><br><br>

    <label for="mfcc9">MFCC 9:</label>
    <input type="number" step="any" id="mfcc9" name="mfcc9"><br><br>

    <label for="mfcc10">MFCC 10:</label>
    <input type="number" id="mfcc10" name="mfcc10"><br><br>

    <label for="mfcc11">MFCC 11:</label>
    <input type="number" step="any" id="mfcc11" name="mfcc11"><br><br>

    <label for="mfcc12">MFCC 12:</label>
    <input type="number" id="mfcc12" name="mfcc12"><br><br>

    <label for="mfcc13">MFCC 13:</label>
    <input type="number" step="any" id="mfcc13" name="mfcc13"><br><br>

    <label for="mfcc14">MFCC 14:</label>
    <input type="number" step="any" id="mfcc14" name="mfcc14"><br><br>

    <label for="mfcc15">MFCC 15:</label>
    <input type="number" id="mfcc15" name="mfcc15"><br><br>

    <label for="mfcc16">MFCC 16:</label>
    <input type="number" step="any" id="mfcc16" name="mfcc16"><br><br>

    <label for="mfcc17">MFCC 17:</label>
    <input type="number" id="mfcc17" name="mfcc17"><br><br>

    <label for="mfcc18">MFCC 18:</label>
    <input type="number" id="mfcc18" name="mfcc18"><br><br>

    <label for="mfcc19">MFCC 19:</label>
    <input type="number" step="any" id="mfcc19" name="mfcc19"><br><br>

    <label for="mfcc20">MFCC 20:</label>
    <input type="number" step="any" id="mfcc20" name="mfcc20"><br><br>

    <input type="submit" value="Submit">
  </form>

  <h3>Prediction: {{ prediction }}</h3>
</body>
</html>
