<!DOCTYPE html>
<html>
<head>
    <title>Sales Prediction</title>
</head>
<body>
    <h1>Sales Prediction</h1>
    <form action="/predict" method="POST">
        <label for="tv-input">TV:</label>
        <input type="number" name="tv" id="tv-input" required>
        <br>
        <label for="radio-input">Radio:</label>
        <input type="number" name="radio" id="radio-input" required>
        <br>
        <label for="newspaper-input">Newspaper:</label>
        <input type="number" name="newspaper" id="newspaper-input" required>
        <br>
        <button type="submit">Predict</button>
    </form>
    <h1>Prediction Result</h1>
    <p>Predicted Sales: {{ prediction }}</p>
    <a href="/">Go Back</a>
</body>
</html>
